<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{/layout/layout :: layout(~{::content},_,'headerListeClient')}" th:href="@{/css/main.css}">
<th:block th:fragment="content" th:with="list=${get_all}">
  <a th:href="@{/client}"></a>
  <ul>
    <li th:each="client : ${client_liste}" th:object="${client}">
      <p th:text="|Id               : *{idClient}|"></p>
      <p th:text="|Nom              : *{nomClient}|"></p>
      <p th:text="|Prénom           : *{prenomClient}|"></p>
      <p th:text="|Rue              : *{rueClient}|"></p>
      <p th:text="|N°               : *{numeroClient}|"></p>
      <p th:text="|Code postal      : *{cpClient}|"></p>
      <p th:text="|Pays             : *{paysClient}|"></p>
      <p th:text="|Email            : *{mailClient}|"></p>
      <p th:text="|Date naissance   : *{dateNaissanceClient}|"></p>
      <p th:text="|Client actif     : *{actifClient}|"></p>
      <p th:text="|N° TVA           : *{numTVAClient}|"></p>
      <p th:text="|Référence        : *{refClient}|"></p>
      <p><a th:href="@{/client/{idClient}(idClient=*{idClient}, param1='param1')}">Update</a></p>
    </li>
  </ul>
</th:block>
</html>
