<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment = "headerBasic">
  <h2>Gestion des clients</h2><br>
</header>

<header th:fragment = "headerMainMenu">
  <h2>Gestion des clients</h2><br>
<!--  <h3>Menu principal</h3><br>-->
  <nav>
    <a href="/client" class="nav_link">Liste</a>
    <a href="/client/add" class="nav_link">Ajout</a>
<!--    <a href="/maintenance" class="nav_link">Retour</a>-->
  </nav>
</header>

<header th:fragment = "headerMaintClient">
  <h2>Gestion des clients</h2><br>
  <h3>Maintenance des clients</h3><br>
  <nav>
    <a href="/client" class="nav_link">Liste</a>
    <a href="/client/add" class="nav_link">Ajout</a>
    <a href="/maintenance" class="nav_link">Retour</a>
  </nav>
</header>

<header th:fragment = "headerAddClient">
  <h2>Gestion des clients</h2><br>
  <h3>Ajout d'un client</h3><br>
  <nav>
    <a href="/clientmaintenance" class="nav_link">Retour</a>
  </nav>
</header>

<header th:fragment = "headerUpdateClient">
  <h2>Gestion des clients</h2><br>
  <h3>Modification d'un client</h3><br>
  <nav>
    <a href="/clientmaintenance" class="nav_link">Retour</a>
  </nav>
</header>

<footer th:fragment="footer">
  <!--  <p>Au revoir</p>-->
</footer>
</html>
